html, body, canvas {
  margin: 0;
  padding: 0;
  background-color: #221f26;
  font-family: Dosis;
  color: #575758;
}

.hidden {
	display: hidden;
}

.start-wrapper {
  padding-top: 40px;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  position: absolute;
  text-align: center;
  transition: all 1000ms ease-in-out;
}

.start {
  height: 400px;
  width: 400px;
  margin: auto;
  border-radius: 50%;
  background-color: #369393;
  color: #221f26;
  text-align: center;
  padding: 20px;
}

.hidden {
  transform: scale(0);
}

h1 {
  display: block;
  padding-top: 100px;
}

p {
  display: block;
  margin: 6px 20px;
}
